*{
  margin: 5px auto;
  padding: 5px;
}

#container {
  background: #333;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  width: 100vh; /*Look at VH and other approaches to satisfy today's screens*/
}

body{
  background: #555;
}
.listLinks {
  list-style-type: none;
}

ul{
  padding: 0px;
}

a{
  color: #ffe
}